= form_for([@movie, @movie.comments.build]) do |f|


  %p
    = f.label :Name
    %br
      = f.text_field :name
  %p
    = f.label :comment
    %br
      = f.text_area :body
  %p
    = f.submit ('Submit')
