%link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/
%body
 %p#notice= notice
 #head
  %h1 Movie List
 #list
  %table
   %thead
    %tr
     %th Name
     %th Date
     %th{:colspan => "3"}
    %tbody
     - @movies.each do |movie|
      %tr
       %td= movie.name
       %td= movie.date
       %td= link_to 'Detail', movie
       %td= link_to 'Edit', edit_movie_path(movie)
       %td= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }

 #link
  %p
   = link_to 'New Movie', new_movie_path,  {:style=>"color:#FFA946"}
   |
   = link_to 'Main', {:controller => 'welcome'}, :style=>"color:#FFA946"
