%link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/
%body
 #show
  %p#notice= notice
  %p
   %strong Name:
   = @movie.name
  %p
   %strong Date:
   = @movie.date
 #link
  %p
   = link_to 'Edit', edit_movie_path(@movie),  {:style=>"color:#FFA946"}
   |
   = link_to 'Back', movies_path,  {:style=>"color:#FFA946"}
